<template>
	<div class="dash">
		<router-link to="/workout">
			<div class="dash-item box box-hover">
				<span class="icon fitness-center"/>
				<h3>
					{{ lang("page.workout") }}
				</h3>
				<span>{{ lang("page.workout.description") }}</span>
			</div>
		</router-link>
		<router-link to="/program">
			<div class="dash-item box box-hover">
				<span class="icon receipt"/>
				<h3>
					{{ lang("page.program") }}
				</h3>
				<span>{{ lang("page.program.description") }}</span>
			</div>
		</router-link>
		<router-link to="/lifts">
			<div class="dash-item box box-hover">
				<span class="icon apps"/>
				<h3>
					{{ lang("page.lifts") }}
				</h3>
				<span>{{ lang("page.lifts.description") }}</span>
			</div>
		</router-link>
		<router-link to="/settings">
			<div class="dash-item box box-hover">
				<span class="icon settings"/>
				<h3>
					{{ lang("page.settings") }}
				</h3>
				<span>{{ lang("page.settings.description") }}</span>
			</div>
		</router-link>
	</div>
</template>

<style lang="postcss">
.dash {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;

	padding: var(--gap);
}

.dash-item {
	text-align: center;

	box-shadow: var(--shadow-1);

	margin: var(--gap);

	width: 200px;
	height: 200px;

	& > .icon {
		font-size: 3em;
	}
}
</style>
