<template>
	<div class="error">
		<div class="icon error"/>
		<div>{{ errorMap[$route.params.reason] || errorMap["unknown"] }}</div>
		<a class="link" href="">{{ lang("error.back") }}</a>
	</div>
</template>

<script>
export default {
	data() {
		return {
			errorMap: {
				init: this.lang('error.init'),
				unknown: this.lang('error.unknown'),
			},
		};
	},
};
</script>

<style lang="postcss">
.page.error {
	text-align: center;

	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	& .icon.error {
		font-size: 4em;
		color: var(--color-negative);
	}
}
</style>
