<template>
	<div>
		<h2>Not implemented</h2>
		<br>
		<a :href="stateToStr()" :download="`${lang('app.title')}.json`" class="link">Download JSON</a>
	</div>
</template>

<script>
import { pick } from '@/helper/object';

export default {
	methods: {
		stateToStr() {
			const saveData = pick(this.$store.state, 'lifts', 'workout');

			return 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(saveData));
		},
	},
};
</script>
