<template>
	<div class="workout">
		<DaySelect />
		<div class="workout-sets">
			<WorkoutSet
				v-for="(set, setIndex) of program.days[dayIndex].sets"
				:key="setIndex"
				v-bind="{ dayIndex, setIndex }"
			/>
		</div>

		<div
			v-if="workout.state"
			class="footer buttons"
		>
			<button
				:title="lang('page.workout.finishCycle.explanation')"
				class="float big"
				@click="finishCycle"
			>
				<span class="icon check-circle"/> {{ lang("page.workout.finishCycle") }}
			</button>
		</div>
	</div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

import DaySelect from '@/components/DaySelect';
import WorkoutSet from '@/components/WorkoutSet';

import { repStates } from '@/helper/constants';

export default {
	components: {
		DaySelect,
		WorkoutSet,
	},
	computed: mapState(['dayIndex', 'program', 'workout']),
	created() {
		window.addEventListener('keypress', this.onKeyPress);
	},
	destroyed() {
		window.removeEventListener('keypress', this.onKeyPress);
	},
	methods: {
		onKeyPress(e) {
			switch (e.key) {
				case 'd':
					e.preventDefault();
					this.setCurrentRepState(repStates.REP_STATE_DONE);
					break;
				case 'f':
					e.preventDefault();
					this.setCurrentRepState(repStates.REP_STATE_FAILED);
					break;
				case 'u':
					e.preventDefault();
					this.setPreviousRepState(repStates.REP_STATE_NONE);
					break;
				default:
					break;
			}
		},
		setCurrentRepState(newState) {
			const cursor = this.$store.getters.currentRep;

			if (cursor && cursor.dayIndex === this.$store.state.dayIndex) {
				// there is a unfinished rep on the current day
				this.$store.dispatch('setRepState', { ...cursor, newState });
			}
		},
		setPreviousRepState(newState) {
			const cursor = this.$store.getters.previousRep;

			if (cursor && cursor.dayIndex === this.$store.state.dayIndex) {
				// previous rep is on current day
				this.$store.dispatch('setRepState', { ...cursor, newState });
			}
		},
		...mapActions(['finishCycle']),
	},
};
</script>

<style lang="postcss">
.workout-sets {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}
</style>
