<template>
	<div class="page-nav h-container">
		<IconButton icon="skip-previous" @click="switchDay(-1)"/>
		<select :value="$store.state.dayIndex" @input="setDay(Number.parseInt($event.target.value))">
			<option
				v-for="(day, dayIndex) in $store.state.program.days"
				:key="dayIndex"
				:value="dayIndex"
			>
				{{ day.name }}
				{{ getStateIndicator($store.state.workout.days[dayIndex].state) }}
			</option>
		</select>
		<IconButton icon="skip-next" @click="switchDay(1)"/>
	</div>
</template>

<script>
import { mapActions } from 'vuex';
import { repStates } from '@/helper/constants';

export default {
	methods: {
		...mapActions(['switchDay', 'setDay']),
		getStateIndicator(state) {
			switch (state) {
				case repStates.REP_STATE_DONE:
					return '✓';
				case repStates.REP_STATE_FAILED:
					return '✗';
				default:
					return '⁣';
			}
		},
	},
};
</script>
