<template>
	<div id="header" ref="self" :style="{ top: top+'px' }" class="h-container">
		<IconButton icon="menu" @click="$emit('menu')"/>
		<div class="item">
			<router-link to="/dash">
				{{ lang("app.title") }}
			</router-link>
		</div>
		<div v-if="$store.state.isSaving" class="item save-icon animation pulse">
			<span class="icon icon-big save"/>
		</div>
	</div>
</template>

<script>
function _scrollPos() {
	return window.pageYOffset || document.documentElement.scrollTop;
}

let _lastScroll = 0;

export default {
	name: 'Header',
	data() {
		return {
			top: 0,
		};
	},
	created() {
		window.addEventListener('scroll', this.onScroll);
	},
	destroyed() {
		window.removeEventListener('scroll', this.onScroll);
	},
	methods: {
		_setTop(top) {
			const height = this.$refs.self.clientHeight;

			top = Math.max(top, height * -1);
			top = Math.min(top, 0);

			this.top = top;
		},
		onScroll() {
			const pos = _scrollPos(),
				delta = pos - _lastScroll;

			if (pos === 0) {
				this._setTop(0);
			} else if (delta !== 0) {
				this._setTop(this.top - delta);
			}

			_lastScroll = pos;
		},
	},
};
</script>

<style lang="postcss">
#header {
	width: 100%;
	height: var(--header-height);

	position: fixed;
	top: 0;
	left: 0;

	background: var(--primary-color);

	color: var(--text-color-white);

	box-shadow: var(--shadow-1);

	z-index: var(--z-index-header);

	& .save-icon {
		color: var(--text-color-white-70);
	}
}
</style>
