<template>
	<button class="icon-button" @click="$emit('click')">
		<span :class="icon" class="icon icon-big"/>
	</button>
</template>

<script>
export default {
	props: {
		icon: {
			type: String,
			required: true,
		},
	},
	methods: {
		debug() {
			this.$emit('click');
		},
	},
};
</script>

<style lang="postcss">
.icon-button {
	background: transparent;

	border-radius: 50%;

	&:active {
		background: var(--primary-color-light);
		color: var(--primary-color-dark);
	}
}
</style>
