<template>
	<div id="loader" :class="{ 'is-loading': $store.state.isLoading }">
		<div class="load-icon"/>
		<span class="msg">{{ lang("app.loading") }}</span>
	</div>
</template>

<script>
</script>
