<template>
	<button
		v-if="restTimer"
		:class="timerClass"
		:title="lang('restTimer.hint')"
		class="rest-timer fab"
		@click="clearTimer"
	>
		{{ $store.state.restTimer }}
	</button>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import beep from '@/helper/beep';

function doBeep(frequency) {
	beep(frequency, 0.4, 0.1);
}

export default {
	computed: mapState({
		restTimer: 'restTimer',
		timerClass(state) {
			if (state.restTimer < 10) {
				return 'negative';
			}
			return 'positive';
		},
	}),
	watch: {
		restTimer(val, oldVal) {
			if (val === null && oldVal !== null) {
				doBeep(3000);
			} else if (val <= 2) {
				doBeep(2000);
			}
		},
	},
	methods: mapActions(['clearTimer']),
};
</script>
