<template>
	<div id="sidebar" :class="{ visible: visible }">
		<div id="sidebar-content">
			<div class="header h-container clickable" on:click="toggle()">
				<IconButton icon="menu" @click="toggle()"/>
				<div class="item">
					<router-link to="dash">
						{{ lang("app.title") }}
					</router-link>
				</div>
			</div>
			<ul ref:nav on:click="toggle()">
				<router-link to="/dash"><li><span class="icon dashboard"/> {{ lang("page.dash") }}</li></router-link>
				<hr>
				<router-link to="/workout"><li><span class="icon fitness-center"/> {{ lang("page.workout") }}</li></router-link>
				<router-link to="/program"><li><span class="icon receipt"/> {{ lang("page.program") }}</li></router-link>
				<router-link to="/lifts"><li><span class="icon apps"/> {{ lang("page.lifts") }}</li></router-link>
				<hr>
				<router-link to="/settings"><li><span class="icon settings"/> {{ lang("page.settings") }}</li></router-link>
			</ul>
		</div>
		<div id="sidebar-background" class="clickable" @click="toggle()"/>
	</div>
</template>

<script>
export default {
	data() {
		return {
			visible: false,
		};
	},
	watch: {
		$route() {
			this.visible = false;
		},
	},
	methods: {
		toggle() {
			this.visible = !this.visible;
		},
	},
};
</script>

<style lang="postcss">
#sidebar {
	z-index: var(--z-index-sidebar);
}

#sidebar.visible {
	& #sidebar-content {
		left: 0;
		box-shadow: var(--shadow-2);
	}

	& #sidebar-background {
		display: block;
	}
}

#sidebar-content {
	z-index: calc(var(--z-index-sidebar) + 1);

	background: var(--primary-color-dark);
	color: var(--text-color-white);

	width: var(--sidebar-width);

	height: 100%;

	position: fixed;

	top: 0;
	left: calc(var(--sidebar-width) * -1);

	transition: left 0.1s ease-out;

	& .header {
		height: var(--header-height);
	}

	& a {
		color: var(--text-color-white);
		text-decoration: none;

		&.router-link-active {
			& li {
				background: var(--accent-color);
				color: var(--text-color);
			}
		}

		&:hover {
			& li {
				background: var(--primary-color-light);
				color: var(--text-color);
			}
		}
	}

	& ul {
		padding: 0;
	}

	& li {
		cursor: pointer;

		display: block;

		padding-top: var(--gap);
		padding-bottom: var(--gap);
		padding-left: var(--gap);

		text-align: left;
	}
}

#sidebar-background {
	z-index: var(--z-index-sidebar);

	position: fixed;

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	display: none;
}
</style>
