<template>
	<div class="workout-set box">
		<div :title="liftName" class="header">{{ liftName }}</div>
		<hr>
		<WorkoutRep
			v-for="(rep, repIndex) in workoutSet.reps"
			:key="repIndex"
			v-bind="{ dayIndex, setIndex, repIndex }"
		/>
	</div>
</template>

<script>
import { mapState } from 'vuex';
import WorkoutRep from '@/components/WorkoutRep';

export default {
	components: {
		WorkoutRep,
	},
	props: {
		dayIndex: {
			required: true,
			type: Number,
		},
		setIndex: {
			required: true,
			type: Number,
		},
	},
	computed: {
		...mapState({
			liftName({ lifts }) {
				return lifts[this.workoutSet.liftId].name;
			},
			workoutSet({ program }) {
				return program.days[this.dayIndex].sets[this.setIndex];
			},
		}),
	},
};
</script>

<style lang="postcss">
.workout-set {
	width: 200px;
}
</style>
