<template>
	<div
		:class="stateClass"
		:title="tooltip"
		class="workout-rep clickable"
		@click="switchRepState({ dayIndex, setIndex, repIndex })"
	>
		<span class="count">{{ programRep.count }}</span>

		<template v-if="weight">
			<span class="mult">&#215;</span>
			<span class="weight">
				{{ weightString }}
			</span>
		</template>
	</div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

import { repStates } from '@/helper/constants';
import repMax from '@/helper/repMax';
import roundWeight from '@/helper/roundWeight';

export default {
	props: {
		dayIndex: {
			required: true,
			type: Number,
		},
		setIndex: {
			required: true,
			type: Number,
		},
		repIndex: {
			required: true,
			type: Number,
		},
	},
	computed: {
		...mapState({
			lift({ lifts }) {
				return lifts[this.programSet.liftId];
			},
			stateClass({ workout }) {
				const curState = workout.days[this.dayIndex].sets[this.setIndex].reps[this.repIndex];

				switch (curState) {
					case repStates.REP_STATE_DONE:
						return 'done';
					case repStates.REP_STATE_FAILED:
						return 'failed';
					default:
						return '';
				}
			},
			programSet({ program }) {
				return program.days[this.dayIndex].sets[this.setIndex];
			},
		}),
		tooltip() {
			const weight = this.weight,
				count = this.programRep.count;

			if (weight === null || count === 1) {
				return '';
			}

			return '1 RM: ' + repMax.getRepMax(weight, count).toFixed(1);
		},
		weight() {
			const rep = this.programRep,
				lift = this.lift;

			if (!lift.weight) {
				return null;
			}

			let weight = rep.ratio ? lift.weight * rep.ratio : repMax.getWeight(lift.weight, rep.count);

			return roundWeight(weight);
		},
		weightString() {
			return this.weight.toFixed(1);
		},
		programRep() {
			return this.programSet.reps[this.repIndex];
		},
	},
	methods: {
		...mapActions(['switchRepState']),
	},
};
</script>

<style lang="postcss">
.workout-rep {
	font-size: 1.1em;
	margin: 1px 0;
	padding: var(--half-gap);

	border-radius: 2px;

	&.done {
		background: var(--color-positive);
	}

	&.failed {
		background: var(--color-negative);
	}

	& .count {
		display: inline-block;
		min-width: 2ch;
		text-align: right;
	}

	& .mult {
		display: inline-block;
		margin: 0 var(--half-gap);
		color: var(--text-color-70);
	}

	& .weight {
		display: inline-block;
		min-width: 5ch;
		text-align: left;
	}
}
</style>
