.animation {
	&.pulse {
		animation-name: pulse;
		animation-duration: 5000ms;
		transform-origin: 70% 70%;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(1);
	}
	40% {
		transform: scale(1.05);
	}
	50% {
		transform: scale(1);
	}
	60% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.03);
	}
	80% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}
