<template>
	<div id="app">
		<template v-if="!hasError">
			<Header @menu="$refs.sidebar.toggle()"/>
			<Sidebar ref="sidebar"/>
			<RestTimer/>
		</template>
		<router-view v-if="initDone" id="content" class="page"/>
		<Loader/>
	</div>
</template>

<script>
import Header from '@/components/Header';
import Sidebar from '@/components/Sidebar';
import RestTimer from '@/components/RestTimer';
import Loader from '@/components/Loader';

export default {
	name: 'App',
	components: {
		Header,
		Loader,
		RestTimer,
		Sidebar,
	},
	data() {
		return {
			initDone: false,
		};
	},
	computed: {
		hasError() {
			return this.$route.name === 'Error';
		},
	},
	created() {
		this.$store
			.dispatch('init')
			.then(() => {
				this.initDone = true;
			})
			.catch(() => {
				this.$router.push('/error/init');
				this.initDone = true;
			});
	},
};
</script>

<style lang="postcss">
#app {
	width: 100%;
}

#content {
	padding-top: var(--header-height);
	padding-bottom: var(--footer-height);
}

.page-nav {
	border-bottom: 1px solid var(--divider-color);

	justify-content: center;

	& .icon-button {
		color: var(--text-color);

		&:active {
			background: var(--primary-color);
			color: var(--primary-color-light);
		}
	}
}
</style>
