:root {
	--background-color: #fff;

	--text-color: #212121;
	--text-color-70: color-mod(var(--text-color) alpha(0.7));
	--text-color-light: #757575;
	--text-color-white: #fff;
	--text-color-white-70: color-mod(var(--text-color-white) alpha(0.7));

	--shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	--shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	--shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	--shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

	--primary-color: #3f51b5;
	--primary-color-dark: #303f9f;
	--primary-color-light: #c5cae9;

	--color-negative: #d32f2f;
	--color-positive: #4caf50;

	--accent-color: #ffc107;

	--divider-color: #bdbdbd;

	--modal-background-color: rgba(255, 255, 255, 0.9);

	--header-height: 50px;
	--footer-height: 50px;

	--rest-timer-size: calc(var(--header-height) - var(--gap));

	--sidebar-width: 250px;

	--gap: 10px;
	--half-gap: calc(var(--gap) / 2);

	--font-size: 16px;
	--font-size-big: calc(var(--font-size) * 1.4);

	--z-index-header: 5;
	--z-index-rest-timer: 6;
	--z-index-sidebar: 10;
}

body {
	font-family: monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--background-color);
	font-size: var(--font-size);
	color: var(--text-color);

	width: 100%;

	margin: 0;
	padding: 0;

	&.has-modal {
		overflow: hidden;
	}
}

body * {
	box-sizing: border-box;
	user-select: none;
}

.footer {
	width: 100%;
	height: var(--footer-height);

	position: fixed;

	bottom: 0;
	left: 0;

	padding: var(--half-gap);

	display: flex;
	justify-content: flex-end;
}

a:not(.link),
a:not(.link):hover,
a:not(.link):visited {
	text-decoration: none;
	color: inherit;
}

h1,
h2 {
	margin: var(--gap) 0;
	border-bottom: 1px solid var(--divider-color);
}

h3 {
	margin-top: var(--half-gap);
	margin-bottom: var(--gap);
	border-bottom: 1px solid var(--divider-color);
}

h4 {
	margin: var(--half-gap) 0;
	color: var(--text-color-light);
}

input {
	font-family: inherit;

	padding: var(--half-gap);

	border: 1px solid var(--divider-color);
	border-radius: 2px;
}

select {
	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}

	-moz-appearance: none;
	-webkit-appearance: none;

	background: transparent;
	border: none;

	text-align-last: center;

	font-size: var(--font-size);

	cursor: pointer;
}

ul {
	& li {
		list-style: none;
	}
}

.buttons {
	margin-top: var(--gap);
	text-align: right;
}

.box {
	border: 1px solid var(--divider-color);
	border-radius: 2px;

	text-align: center;

	margin: var(--gap);
	padding: var(--gap);

	box-shadow: var(--shadow-1);

	& > .header {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.box-hover {
	&:hover {
		box-shadow: var(--shadow-2);
	}

	transition: box-shadow 0.5s ease-out;
}

.clickable {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.rest-timer {
	position: fixed;

	top: var(--half-gap);
	right: var(--half-gap);

	padding: 0;

	overflow: hidden;

	text-align: center;

	height: var(--rest-timer-size);
	width: var(--rest-timer-size);

	z-index: var(--z-index-rest-timer);
}

.h-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;

	& .item {
		display: inline-block;

		padding-left: var(--half-gap);
	}
}
