:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

button {
	position: relative;

	background: var(--primary-color);
	color: var(--text-color-white);
	border: none;
	border-radius: 4px;
	padding: 4px 8px;

	cursor: pointer;

	&:active {
		background: var(--primary-color-dark);
		color: var(--text-color-white-70);
	}

	transition: background 0.5s ease-out;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button:focus {
	outline: 0;
}

button.accent {
	background: var(--accent-color);
}

button.positive {
	background: var(--color-positive);
}

button.negative {
	background: var(--color-negative);
}

button.fab {
	border-radius: 50%;
	box-shadow: var(--shadow-1);
}

button.big {
	font-size: var(--font-size-big);
}

button.float {
	box-shadow: var(--shadow-1);
	&:active {
		box-shadow: none;
	}
}

.icon-button {
	background: transparent;

	border-radius: 50%;

	&:active {
		background: var(--primary-color-light);
		color: var(--primary-color-dark);
	}
}
